.visited-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.visited-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}