.visited-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}

.visited-card {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  border: 1px solid #333;
  padding: 10px 20px;
}

.text-holder {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.visited-header {
  margin: auto;
}

.joint-image {
  width: 125px;
  margin: 10px auto;
}