.restaurant-details-container {
  width: 60%;
  margin: auto;
}

.reviews {
  margin: 2rem auto;
}

.visited-button {
  display: inline-block;
  height: 2rem;
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.5rem;
  font-size: 1em;
}