.restaurant-details-container {
  display: flex;
  justify-content: space-evenly;
  width: 101%;
  background-image: url(https://www.pigrigbbq.com/files/2017-02/background.jpg);
  height: 1500px;
  background-size: cover;
}

.reviews {
  margin: 2rem auto;
}

.reviews-section {
  background-color: rgb(243, 243, 243, .8);
  width: 40%;
  height: 55vh;
  padding: 0.83em;
  text-align: left;
  margin: 3em;
  border-radius: 0.75em;
}

.details-section {
  background-color: rgb(243, 243, 243, .8);
  width: 45%;
  height: 78vh;
  margin: 3em;
  border-radius: 0.75em;
}

.visited-button {
  display: inline-block;
  height: 2rem;
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.5rem;
  font-size: 1em;
}

.details-lower-section {
  width: 60%;
  margin: 1em auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px;
}

.details-label {
  font-weight: 800;
}