.restaurant-details-container {
  display: flex;
}

.reviews {
  margin: 2rem auto;
}

.reviews-section {
  width: 40%;
  padding: 0.83em;
  text-align: left;
  margin: 1em;
}
.details-section {
  width: 45%;
  margin: 1em;
}

.visited-button {
  display: inline-block;
  height: 2rem;
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.5rem;
  font-size: 1em;
}

.details-lower-section {
  width: 40%;
  margin: 1em auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px;
}

.details-label {
  font-weight: 800;
}