.visited-form-container {
  background-color: rgb(243, 243, 243, .9);
  width: 70%;
  margin: 2em auto;
  padding: 2em;
  position: absolute;
  bottom: 100px;
  left: 15%;
  margin: 0 auto;
}

.rating-date-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 3em;
}
.rating-container {
  width: 33%;
}

.submit-button {
  height: 2rem;
  width: 13em;
  margin: auto;
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.5rem;
  font-size: 1em;
}

.visited-fields {
  margin: 0.5rem auto;
  padding: .5rem;
  width: 80%;
  height: 0.6em;
  color: #333;
}

#rating {
  width: 33%;
  margin: 0.5rem 3.8em;
}

#date {
  width: 40%;
  margin: 0.5rem 3.8em;
}

#notes {
  height: 2em;
}
