.card {
  margin: 10px;
  height: 17rem;
  width: 18rem;
  background-size: contain;
}

.card-header {
  color: #333;
  text-decoration: none;
  font-weight: 200;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.restaurant-images {
  height: 200px;
  width: 15rem;
}