.signup-form-container {
  background-image: url(https://proxy.duckduckgo.com/iur/?f=1&image_host=http%3A%2F%2Fimages.alphacoders.com%2F280%2F280993.jpg&u=https://images.alphacoders.com/280/280993.jpg);
  height: 100vw;
  padding-top: 1rem;
  width: 101%;
}

.signup-form-header {
  margin: 0;
}