.search-form-container {
  background-image: url(https://www.pigrigbbq.com/files/2017-02/background.jpg);
  height: 100vh;
  padding-top: 1rem;
  width: 101%;
  background-size: cover;
}

.search-form {
  margin: 8rem auto;
  border: 1px solid #333;
  width: 50%;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  height: 7em;
  background-color: rgb(243, 243, 243, .8);
  padding: 1em;
}

.location-field {
  width: 60%;
  height: 2rem;
  color: #333;
  font-size: 1em;
  font-weight: 500;
  padding: .5rem;
  border: none;
  margin-top: 20px;
}

.submit-location-button {
  height: 3rem;
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.5rem;
  font-size: 1em;
  margin-top: 20px;
}

.search-label {
  font-size: 1.4rem;
  height: 1em;
}