.login-form-container {
  background-image: url(https://www.pigrigbbq.com/files/2017-02/background.jpg);
  height: 100vh;
  padding-top: 1rem;
  width: 101%;
  background-size: cover;
}

.login-form {
  background-color: rgb(243, 243, 243, .8);
  margin: 5em auto;
  width: 40%;
  height: 18rem;
  padding: 1.5rem;
  border: 1px solid #333;
  border-radius: 1em;
}

label {
  text-align: left;
  font-weight: 600;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto; 
}

.input-fields {
  color: #333;
  display: block;
  font-size: 1em;
  font-weight: 300;
  margin: 0.5rem auto;
  padding: .5rem;
  width: 80%;
  height: 0.4em;
}

.form-header {
  margin: 0.5rem auto;
  font-size: 1rem;
}

.login-button {
  background-color: #333;
  color: #fff;
  width: 86%;
  margin: 1rem auto;
  height: 2.5em;
}