.login-form-container {
  background-image: url(https://proxy.duckduckgo.com/iur/?f=1&image_host=http%3A%2F%2Fimages.alphacoders.com%2F280%2F280993.jpg&u=https://images.alphacoders.com/280/280993.jpg);
  height: 100vh;
  padding-top: 1rem;
  width: 101%;
  background-size: cover;
}

.login-form {
  background-color: #fff;
  margin: auto;
  width: 50%;
  height: 25rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto; 
}

.input-fields {
  color: #BBBDBF;
  display: block;
  font-size: 1em;
  font-weight: 200;
  margin: 0.5rem auto;
  padding: .5rem;
  width: 80%;
  height: 0.75em;
}

.form-header {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.login-button {
  background-color: #333;
  color: #fff;
  width: 86%;
  margin: 0 auto;
}