.header {
  background-color: #111;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.25rem;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 2rem;
}

.nav-links {
  color: #F3F3F3;
  font-weight: 300;
  margin: .75rem;
  text-decoration: none;
}

.logo-container {
  display: flex;
  margin-left: 2rem;
  margin-top: 0.5rem;
}


.title {
  color: #F3F3F3;
  margin: 0 0 0 20px;
  font-weight: 400;
}

.logo {
  height: 2rem; 
}

.user-name {
  color: #F3F3F3;
}

@media screen and (max-width: 600px) {

    .title {
    display: none;
  }

}